body{
    background: whitesmoke;
    font-family: "Justus-Pro", "Helvetica Neue";
    
    font-weight:800;
}

h1{
    
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    color: black;
    
    min-width: 200px;
    max-width: 500px;
    
    margin-left: 10px;
    margin-top: 0px;
}

.display {
    text-align: center; 
}

.display a {
    padding: 50px;
    display: inline-block;
}

.float{
    overflow:hidden;
    text-align: center;
}

.float a{
    float:left;
    padding:10px;

}


