body{
    background: whitesmoke;
}

h1{
    
    font-family:"ebony", "Helvetica Neue";
    
    
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: orangered;
    
    min-width: 200px;
    max-width: 650px;
    
    margin-left: 40px;
    margin-top: 40px;
    
}
