body{
	margin:0;
	padding:0;
	background: #efefef;
}

.logo{
	float:left;
}

/*Navigation Bar*/
#navigation-container{
	width:100%;
	margin:0 auto;
	height:70px;
}

.navigation-bar{
	position: fixed;
	padding-top:15px;
	height:70px;
	width:100%;
	text-align:center;
	z-index: 1;
}

.navigation-bar img{
	float:left;
	padding-left: 10px;

}

.navigation-bar ul{
	margin:0px;
	padding-top: 25px;
	padding-right: 10px;
	float: right;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.navigation-bar a:hover{
	color: #ff3700;
}

.navigation-bar li{
	list-style-type: none;
	padding:0px;
	height:24px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline;
}

.navigation-bar li a{
	color: black;
	font-size: 15px;
	font-family: "Roboto";
	font-weight: 400;
	text-decoration: none;
	line-height: 16px;
	padding: 5px 15px;
	opacity:0.7;
}

.main-body{
	position: relative;
	top: 100px;
	padding-left: 90px;
}


#left-col {
	float: left;
	width: 20%;
	height: 100px;
	padding-bottom: 50px;
	color: black;
}

#midleft-col-contact{
	float: left;
	padding-top:50px;
	width: 100%;
	height: 500px;
	color: black;
}

#midleft-col {
	float: left;
	width: 20%;
	height: 100px;
	padding-bottom: 50px;
	color: black;
}
#mid-col {
	float: left;
	width: 20%;
	height: 100px;
	padding-bottom: 50px;
}

#mid-col a{
	color:#ff3700;
}

#midright-col{
	float: left;
	width: 20%;
	height: 100px;
	padding-bottom: 50px;
}
#right-col {
	width: 15%;
}

#blankright-col{
	width:5%;
}

#introduction{
	text-align: left;
}

#pages {
	width: 95%;
}

#p1 {
	line-height: 20px;
	padding-top: 250px;
	padding-bottom: 40px;
}

#p2 {
	line-height: 20px;
	padding-bottom: 40px;
}

#p3 {
	line-height: 20px;
	padding-bottom: 40px;
}

#p4 {
	line-height: 20px;
	padding-bottom: 40px;
}

/*Contact form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    border: solid #ccc;
    border-radius: 20px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #efefef;
    color: #ff3700;
    font:"Roboto";
    padding: 12px 20px;
    border: solid #ff3700;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ff3700;
    color:#efefef;
}

label{
	font: normal 15px "Roboto" !important;
	color: #ff3700;
	padding-bottom: 5%;
}


/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 90%;
    margin-top: 6px;
    position: relative;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/*------------*/



a {
	text-decoration: none;
	color: black; /*#ff3700*/
}

a:hover {
	color:#ff3700 ;
}

p{
	font-family: "Roboto";
	font-size: 15;
	font-weight: 100;
}


h1 {
	font-family: "Adelle";
	font-size: 100;
	line-height: 100px;
	font-weight: 300;
	margin: 0;
}

h2 {
	font-family: "Roboto";
	font-size: 800;
	line-height: 30px;
	font-weight: 200;
	margin: 0;
}

h3 {
	font-family: "Roboto";
	font-size: 25;
	font-weight: 200;
	padding: 0;
	margin: 0;
}

h4{
	font-family: "Roboto";
	font-size: 24;
	font-weight: 200;
	padding: 0;
	margin: 0;
}

h5{
	font-family: "Roboto";
	font-size: 22;
	font-weight: 200;
	padding: 0;
	margin: 0;
}


h6 {
	font-family: "Roboto";
	font-size: 15;
	font-weight: 200;
	margin: 0;
}

