body{
	background: #111111;
}


/*Navigation Bar*/
#navigation-container{
	width:100%;
	margin:0 auto;
	height:70px;
}

.navigation-bar{
	position: fixed;
	padding-top:15px;
	height:70px;
	width:100%;
	text-align:center;
	z-index: 1;
}

.navigation-bar img{
	float:left;
	padding-left: 10px;

}

.navigation-bar ul{
	margin:0px;
	padding-top: 25px;
	padding-right: 10px;
	float: right;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.navigation-bar a:hover{
	color: #ff3700;
}

.navigation-bar li{
	list-style-type: none;
	padding:0px;
	height:24px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline;
}

.navigation-bar li a{
	color: #ff3700;
	-webkit-text-stroke: .5px #ff3700;
	font-size: 50px;
	font-family: "Helvetica", sans-serif;
	font-weight: 400;
	line-height: 16px;
	padding:15px;
	text-decoration: none;
}

.navigation-bar li a:hover{
	color: #111111;
	-webkit-text-stroke: .5px #ff3700;
}

.second-col h5{
	color:#ff3700;
	grid-column: col-start 2 / span 8 ;
}

.grid-container{
	display: grid;
  	grid-template-columns: repeat(12, [col-start] 1fr);
  	grid-gap: 125px;
}

.body-grid-container{
	display: grid;
	grid-template-columns: 10% 80% 10%;
}

.body-second{
	color: white;
}

/*Stuff in the Wrapper*/
.wrapper{
	display: grid;
  	grid-template-columns: repeat(12, [col-start] 1fr);
  	grid-gap: 5px;
}

.home-title1{
	grid-column: col-start / span 8;
	color: white;
	animation: fadein 3s;
}


.title1-image1{
	grid-column: col-start 1 / span 8 ;
  	grid-row: 2 / 3;
  	animation: fadein 3s;
}

.title1-image2{
	grid-column: col-start 8 / span 11 ;
  	grid-row: 2 / 3;
  	padding-top: 12px;
  	animation: fadein 3s;
}

.home-title2{
	grid-column: col-start / span 5;
	grid-row:4;
	animation: fadein 3s;
}

.title2-image1{
	grid-column: col-start / span 12 ;
  	grid-row: 5;
}

.summary{
	grid-column: col-start 5 / span 6 ;
  	grid-row: 2 / 3;
  	animation: fadein 3s;
}

.summary-end{
	grid-column: col-start 5 / span 6 ;
  	grid-row: 12 / 13;
  	animation: fadein 3s;
  	padding-bottom: 20px;
}

.project-images{
	grid-column: col-start / span 12 ;
  	grid-row: 5 / 12;
  	animation: fadein 3s;
}

@keyframes fadein{
	from{opacity: 0;}
	to {opacity: 1;}
}

a{
	text-decoration: none;
	color:#ff3700;
}

a:hover{
	color: #111111;
	-webkit-text-stroke: .5px #ff3700;
}

h1{
	font-family: "Helvetica",sans-serif;
	font-weight: 400;
	font-size: 50px;
	line-height: 54px;
}

h2{
	font-family: "Helvetica",sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 19px;
}

h3{
	font-family: "Helvetica",sans-serif;
	font-weight: 400;
	font-size: 25px;
	line-height: 29px;
}

h5{
	font-family: "Helvetica",sans-serif;
	font-weight: 200;
	font-size: 15px;
	margin-bottom:5px;
}

h6{
	font-family: "Helvetica",sans-serif;
	font-weight: 200;
	font-size: 15px;
	margin-top:0px;
	color:#545454;
}
